In [42]:
import pandas as pd

df = pd.read_csv("USA_activities.csv", on_bad_lines='skip')
#skip : 2 lignes ont une liste de langues séparé avec des "," 
#-> pandas interprete ca comme une nouvelle colonne

df

,Title,Nb rating,Prices,Nb visits,Rating,Annulation,Duration,Language,Adress
0,Vol en hélicoptère au-dessus de New York,894,184.3,12 813,9.10 / 10,Gratuit ! Annulez sans frais jusqu'à 24 heures...,15 min - 20 min,Anglais,NewYork
1,Billet pour l'Empire State,1688,45.5,28 888,9.10 / 10,Non remboursable. Cette activité n'admet aucun...,-1,-1,NewYork
2,Billet pour le Mémorial et le Musée du 11 Sept...,229,28.5,4 934,9.10 / 10,Gratuit ! Annulez sans frais jusqu'à 24 heures...,-1,-1,NewYork
3,Go City : New York Explorer Pass,1005,65.5,30 326,9.10 / 10,Gratuit ! Annulez sans frais jusqu'à 24 heures...,-1,-1,NewYork
4,Visite de la Statue de la Liberté et Ellis Island,962,48.2,11 552,7.90 / 10,Gratuit ! Annulez sans frais jusqu'à 3 jours a...,4 heures,Anglais,NewYork
...,...,...,...,...,...,...,...,...,...
430,Visite guidée dans Downtown,-1,36.1,7,-1,Gratuit ! Annulez sans frais jusqu'à 24 heures...,2 heures,Anglais,Atlanta
431,Visite guidée dans Atlanta,-1,149.3,44,-1,Gratuit ! Annulez sans frais jusqu'à 24 heures...,-1,Anglais,Atlanta
432,Visite guidée de l'Atlanta BeltLine,-1,36.1,5,-1,Gratuit ! Annulez sans frais jusqu'à 24 heures...,2 heures,Anglais,Atlanta
433,Visite à travers les scènes de The Walking Dead,1,149.3,22,-1,Gratuit ! Annulez sans frais jusqu'à 24 heures...,-1,Anglais,Atlanta
434,Billet pour l'Illuminarium,-1,70.0,334,-1,Non remboursable. Cette activité n'admet aucun...,-1,-1,Atlanta