# <u> Analyse et nettoyage de la database

In [2]:
import pandas as pd

df = pd.read_csv("us_activities.csv", on_bad_lines='skip')
#skip : 2 lignes ont une liste de langues séparé avec des "," 
#-> pandas interprete ca comme une nouvelle colonne

df

,Title,Nb rating,Prices,Nb visits,Rating,Annulation,Duration,Language,City,lat,lon,image
0,Vol en hélicoptère au-dessus de New York,902,"183,30 €",13 026 voyageurs,"9,10 / 10",Gratuit ! Annulez sans frais jusqu'à 24 heures...,15 min - 20 min,Anglais,new-york,40.700990,-74.008783,https://cdn2.civitatis.com/estados-unidos/nuev...
1,Billet pour le Mémorial et le Musée du 11 Sept...,233,"28,30 €",5 054 voyageurs,"9,10 / 10",Gratuit ! Annulez sans frais jusqu'à 24 heures...,-1,-1,new-york,40.711737,-74.013301,https://cdn2.civitatis.com/estados-unidos/nuev...
2,Billet pour l'Empire State,1 692,"45,20 €",29 125 voyageurs,"9,10 / 10",Non remboursable. Cette activité n'admet aucun...,-1,-1,new-york,40.748784,-73.986158,https://cdn2.civitatis.com/estados-unidos/nuev...
3,Go City : New York Explorer Pass,1 007,"65,20 €",30 575 voyageurs,"9,10 / 10",Gratuit ! Annulez sans frais jusqu'à 24 heures...,-1,-1,new-york,40.712955,-74.001362,https://cdn2.civitatis.com/estados-unidos/nuev...
4,Billet coupe-file pour le One World,977,"44,20 €",14 313 voyageurs,"9,30 / 10",Non remboursable. Cette activité n'admet aucun...,-1,-1,new-york,40.712955,-74.013814,https://cdn2.civitatis.com/estados-unidos/nuev...
...,...,...,...,...,...,...,...,...,...,...,...,...
259,Balade en bateau à travers les Villas des Stars,367,"78,40 €",7 voyageurs,"8,50 / 10",Non remboursable. Cette activité n'admet pas d...,1h30,Anglais,miami,25.777913,-80.186247,https://cdn2.civitatis.com/estados-unidos/miam...
260,Balade en bateau à moteur à Miami,41,"902,40 €",5 voyageurs,"8,50 / 10",Gratuit ! Annulez sans frais jusqu'à 8 heures ...,45 minutes,Anglais,miami,25.777767,-80.185607,https://cdn2.civitatis.com/estados-unidos/miam...
261,Excursion aux Everglades,325,"83,10 €",334 voyageurs,"7,90 / 10",Gratuit ! Annulez sans frais jusqu'à 24 heures...,4 heures,Anglais et espagnol,miami,25.761676,-80.194099,https://cdn2.civitatis.com/estados-unidos/miam...
262,Carte eSIM avec Internet aux États-Unis,16,"65,20 €",16 voyageurs,"6,40 / 10",Non remboursable. Cette activité n'admet aucun...,10 jours - 30 jours,-1,miami,25.761676,-80.194099,https://cdn2.civitatis.com/estados-unidos/nuev...
263,Offre : Contrastes de Miami + Everglades + Bal...,98,"51,90 €",22 voyageurs,"9,40 / 10",Gratuit ! Annulez sans frais jusqu'à 24 heures...,8 heures,Anglais et espagnol,miami,25.761676,-80.194099,https://cdn2.civitatis.com/estados-unidos/miam...

In [3]:
print('Type de la colonne prix : ', df['Prices'].dtype)
print('Type de la colonne du nombre de notation : ', df['Nb rating'].dtype)
print('Type de la colonne notation : ', df['Rating'].dtype)

Type de la colonne prix :  object
Type de la colonne du nombre de notation :  object
Type de la colonne notation :  object

-> On va convertir ces colonnes en float pour pouvoir les réutiliser dans l'application
-> Au niveau des villes, nous allons supprimer les "-" et mettre des majuscules
-> Traduire tout le texte français en anglais pour l'application
-> On va également changer la colonne des langues et y mettre des listes des langues parlées avec des valeurs :
- Anglais = 1
- Francais = 2
- Espagnol = 3
- Pas d'infos = -1

A) Prix

In [4]:
df['Prices']

0      183,30 €
1       28,30 €
2       45,20 €
3       65,20 €
4       44,20 €
         ...
259     78,40 €
260    902,40 €
261     83,10 €
262     65,20 €
263     51,90 €
Name: Prices, Length: 264, dtype: object

In [5]:
df['Prices'] = df['Prices'].str.replace('€', '')
df['Prices'] = df['Prices'].str.replace(' ', '')

In [6]:
price_list = []
new_price = ''
for price in df.Prices:
    for i in price:
        if i.isnumeric() == True or i == ',':
            new_price += i
        else:
            new_price = '0'
    price_list.append(new_price)
    new_price = ''

In [7]:
df['Prices'] = price_list
df['Prices'] = df['Prices'].str.replace(',','.').astype(float)

In [8]:
df['Prices']

0      183.3
1       28.3
2       45.2
3       65.2
4       44.2
       ...
259     78.4
260    902.4
261     83.1
262     65.2
263     51.9
Name: Prices, Length: 264, dtype: float64

B) Nombre de notations

In [9]:
df['Nb rating']

0        902
1        233
2      1 692
3      1 007
4        977
       ...
259      367
260       41
261      325
262       16
263       98
Name: Nb rating, Length: 264, dtype: object

In [10]:
df['Nb rating'] = df['Nb rating'].str.replace(' ','').astype(float)
df['Nb rating']

0       902.0
1       233.0
2      1692.0
3      1007.0
4       977.0
        ...
259     367.0
260      41.0
261     325.0
262      16.0
263      98.0
Name: Nb rating, Length: 264, dtype: float64

C) Notations

In [11]:
df['Rating']

0      9,10 / 10
1      9,10 / 10
2      9,10 / 10
3      9,10 / 10
4      9,30 / 10
         ...
259    8,50 / 10
260    8,50 / 10
261    7,90 / 10
262    6,40 / 10
263    9,40 / 10
Name: Rating, Length: 264, dtype: object

In [12]:
rating_list = []
for rating in df.Rating:
    rating = rating.split('/', 1)
    rating_list.append(rating[0])

In [13]:
df['Rating'] = rating_list
df['Rating'] = df['Rating'].str.replace(',','.').astype(float)

In [14]:
df['Rating']

0      9.1
1      9.1
2      9.1
3      9.1
4      9.3
      ...
259    8.5
260    8.5
261    7.9
262    6.4
263    9.4
Name: Rating, Length: 264, dtype: float64

D) Langages

In [15]:
df['Language']

0                  Anglais
1                       -1
2                       -1
3                       -1
4                       -1
              ...
259                Anglais
260                Anglais
261    Anglais et espagnol
262                     -1
263    Anglais et espagnol
Name: Language, Length: 264, dtype: object

In [16]:
df['Language'] = df['Language'].str.replace(' et ',',')
df['Language']

0               Anglais
1                    -1
2                    -1
3                    -1
4                    -1
             ...
259             Anglais
260             Anglais
261    Anglais,espagnol
262                  -1
263    Anglais,espagnol
Name: Language, Length: 264, dtype: object

In [17]:
language_list = []
for language in df.Language:
    if language == '-1':
        language_list.append([int(language)])
    else:
        language = language.split(',')
        for i in range(len(language)):
            if language[i] == 'Anglais' or language[i] == 'anglais':
                language[i] = 1
            elif language[i] == 'Français' or language[i] == 'français':
                language[i] = 2
            elif language[i] == 'espagnol' or language[i] == 'Espagnol':
                language[i] = 3
            else:
                language[i] = -1
        language_list.append(language)

In [18]:
df['Language'] = language_list

In [19]:
df['Language']

0         [1]
1        [-1]
2        [-1]
3        [-1]
4        [-1]
        ...
259       [1]
260       [1]
261    [1, 3]
262      [-1]
263    [1, 3]
Name: Language, Length: 264, dtype: object

E) Villes

In [20]:
df['City'] = df['City'].str.replace('-', ' ')
cities_list = []
for word in df.City:
    word = word.title()
    cities_list.append(word)

In [21]:
df['City'] = cities_list
df['City']

0      New York
1      New York
2      New York
3      New York
4      New York
         ...
259       Miami
260       Miami
261       Miami
262       Miami
263       Miami
Name: City, Length: 264, dtype: object

F) Traduction

In [28]:
from deep_translator import GoogleTranslator

In [29]:
title_list = []
annulation_list = []
for title, annulation in zip(df['Title'], df['Annulation']):
    title_list.append(GoogleTranslator(source='auto', target='en').translate(title))
    annulation_list.append(GoogleTranslator(source='auto', target='en').translate(annulation))

In [30]:
df['Title'] = title_list
df['Annulation'] = annulation_list
df['Title']
print(title_list)

['Helicopter flight over New York', 'Ticket to the 9/11 Memorial and Museum', 'Empire State ticket', 'Go City : New York Explorer Pass', 'Skip-the-line One World ticket', 'Ticket for the Summit One Vanderbilt', 'Outlet Shopping Tour', 'Billet pour The Edge', 'NYC Sightseeing Bus', 'Boat trip in lower Manhattan', 'New York Contrasts Tour', 'Bike rental in New York', 'Statue of Liberty and Ellis Island Tour', 'Harlem Guided Tour with Gospel Mass', 'Tour in the footsteps of Gossip Girl', 'New York CityPASS', 'Ticket to the New York Yankees', 'Ticket to MoMA', 'Circuit Sex and the City à New York', 'Boat trip around Manhattan', 'Free tour in New York', 'eSIM card with Internet in the United States', 'New York rooftop tour', 'Washington DC Day Trip from New York', 'Sunset Cruise', 'Carriage ride in Central Park', 'New York Night Helicopter Flight', 'Ticket for The Phantom of the Opera', 'The New York Pass®', 'Philadelphia and an Amish County Tour', 'Billet pour Chicago', '4-Day Niagara, Washington, and Philadelphia Tour', 'Ticket to Top of the Rock + 9/11 Museum', 'Quirky Brooklyn Bike Tour', 'Boston Day Trip', 'Private tour in New York', 'Brooklyn Street Art and Hipster Culture Tour', 'Visit the must-see places in New York', '2-Day Washington and Philadelphia Tour', 'Guided tour of New York', 'NYC Night Tour', 'New York dinner cruise', 'Niagara Falls Tour', 'Ticket to the Museum of the City of New York', 'Cinema circuit through the scenes of films and series', 'Visite de Lower East Side, Chinatown et Little Italy', 'Visit through the scenes of movies and series of Central Park', 'Union Square, High Line and Chelsea Tour', 'The Ride Experience', 'Niagara Falls 2 Day Tour', "St. Patrick's Cathedral Ticket with Audio Guide", 'Brooklyn Bridge, DUMBO and Brooklyn Heights Tour', 'Bike ride in Central Park', 'Niagara, Toronto, Philadelphia and Washington in 5 days', 'Little Italy and Chinatown Food Tour', 'Lower Manhattan Lunch Cruise', 'NYC Superhero Discovery Tour', 'Billet pour Wicked', 'Circuit in the footsteps of The Sopranos series', 'Billet pour Madame Tussauds', 'Moulin Rouge ticket', 'Sailboat rental with captain', 'Billet pour le Top of The Rock', 'Ticket to SPYSCAPE', 'Washington DC and Philadelphia Tour', 'Food tour through the East Village', 'Billet pour LEGOLAND New York', 'The Tour Experience', 'Private New York City Limo Tour', 'Southampton, Sag Harbor and Tanger Outlets Tour', 'Ticket to MJ, the Michael Jackson Musical', 'Guided tour in Central Park', 'High speed boat ride', 'Harlem Food Walking Tour', 'Private NYC Bike Tour', 'Lower Manhattan Discovery Tour', 'Guided tour of SoHo, Greenwich Village and Meatpacking District', 'Central Park Electric Scooter Tour', 'Open Top Bus Night Tour', 'NBA Ticket: New York Knicks', 'Ticket to The Lion King', 'Ticket to Radio City Music Hall', 'Gospel mass in Harlem', 'Brooklyn Christmas Spirit Tour', 'Billet pour Aladdin', 'Ticket to the New York Rangers', 'Ticket to Harry Potter and the Cursed Child', 'Excursion to Boston + Shopping in the outlets of New York', 'Boat trip in New York', 'Visit to Queens', 'Madison Square Garden Tour', 'Wedding with Elvis in Las Vegas', 'Battlefield Shooting Experience', 'Horseshoe Bend and Antelope Canyon X Tour', 'V - The Ultimate Variety Show', 'Pass Go City Las Vegas Explorer', 'Grand Canyon West Rim Tour', 'eSIM card with Internet in the United States', 'Offer: Grand Canyon + Las Vegas', 'Antelope Canyon Tour', 'Billet pour Madame Tussauds', '3 Day Arizona Desert Tour', 'Grand Canyon Full Tour by Private Plane', 'Death Valley Tour', 'Go City : Las Vegas All-Inclusive Pass', 'Las Vegas Night Tour', 'Tickets for Michael Jackson ONE, Cirque du Soleil', 'Aerobatics flight', 'Las Vegas Sightseeing Bus', 'Private plane ride over the Grand Canyon', 'Tickets for O, Cirque du Soleil', 'Grand Canyon Wedding + Helicopter', '4-Day Death Valley and Yosemite Tour to San Francisco', 'South Rim Private Jet Tour', 'Excursion to Disneyland California', 'Marriage in the Valley of Fire', 'Nathan Burton Magic Show Ticket', 'Self-Guided Boulder City Tour', 'Helicopter flight in Las Vegas', '3-Day Grand Canyon and Utah Tour', 'Pole dancing lessons in Las Vegas', 'Private North Premium Outlets Shopping Tour', 'Ticket to the Mob Museum', 'Excursion au canyon de Zion', 'Tickets for KÀ, Cirque du Soleil', 'Billet pour Vegas! The Show', 'Universal Studios Hollywood Tour', 'Bryce Canyon and Zion Canyon Tour', 'Grand Canyon Helicopter Tour', 'Tickets for LOVE, Cirque du Soleil', 'Aerial combat in aerobatic aircraft', 'Ticket to Zombie Burlesque', 'Universal Studios Hollywood + Disneyland California in 2 days', 'The Invictus Experience: Spying in Las Vegas', 'Hiking in the Valley of Fire', 'Helicopter shooting', 'Las Vegas Luxury Food Tour', 'Grand Canyon Sunset Tour', 'Ticket for Mystery, Cirque du Soleil', 'Red Rock Canyon Electric Bike Ride', '7 Day Tour from Las Vegas to San Francisco', 'Open Top Bus Night Tour', '2-Day Grand Canyon and Horseshoe Bend Tour', 'Billet pour Beatleshow', 'Flight in weightlessness', 'Zion National Park Tour', '7-Day Tour to Yellowstone, the Rockies, Bryce Canyon and Grand Teton', 'Boston Harbor Boat Ride', 'Billet pour le Boston Tea Party Ships & Museum', 'eSIM card with Internet in the United States', 'Guided tour of MIT', 'Go City Boston Explorer Pass', 'Boat trip at sunset', 'Guided tour of Harvard', 'Guided tour in Boston', 'Boston Tourist Trolley', 'Boston Amphibious Bus Tour', 'Boston Jet Boat Experience', 'Visit to the film sets of series and films', 'Boston CityPASS', 'Pub Crawl: pub crawl in Boston!', 'Ferry transfer to Salem', 'Go City Boston All Inclusive Pass', 'Whale Watching in Boston', 'Ferry pour Provincetown', 'Boston Ghosts Trolley', 'Boston Food Tour', 'Boston Donut Tour', 'Historic Boston Tour: Cambridge, Lexington and Concord', 'Muir Woods and Sausalito Tour', 'Bike rental in San Francisco', 'San Francisco Tourist Bus', 'Boat trip in San Francisco Bay', 'Go City : San Francisco All-Inclusive Pass', 'Cruise under the bridges of San Francisco', 'Comprehensive San Francisco Tour', 'Tour of historic neighborhoods in San Francisco', 'Free tour in San Francisco', 'eSIM card with Internet in the United States', 'San Francisco CityPASS', 'Go City : San Francisco Explorer Pass', 'Private tour in San Francisco with English-speaking guide', '7-Day San Francisco, Las Vegas, and Arizona Desert Tour', 'Open Top Bus Night Tour of San Francisco', "Visit of San Francisco and d'Alcatraz", 'Guided tour in alternative and artistic San Francisco', 'Catamaran ride at sunset', 'Free night tour in San Francisco', 'Seaplane flight over San Francisco Bay', 'Muir Woods and the vineyards of California', 'Billet pour Madame Tussauds', 'Iconic San Francisco Tour', 'Catamaran ride in San Francisco Bay', 'San Francisco Cruise with Lunch', 'San Francisco Food Tour', 'Segway ride in San Francisco', 'San Francisco GoCar Tour', 'Napa and Sonoma Wine Valleys Tour', 'San Francisco Sightseeing Bus + Alcatraz Ticket', '4-day tour from San Francisco to Las Vegas ending in Los Angeles', 'Excursion to Carmel and Monterey from San Francisco', 'Ticket to the California Academy of Sciences', 'San Francisco Viewpoints and Hills Tour', "Visit to Fisherman's Wharf", 'San Francisco Bay Bike Ride', 'Excursion au Parc National de Yosemite', 'eSIM card with Internet in the United States', 'Arlington Cemetery and Washington Memorials Tour', 'Guided tour of Washington DC', 'Washington DC Tourist Bus', 'Washington DC Segway Ride', 'Arlington Cemetery Tourist Train', 'Excursion shopping au Leesburg Premium Outlets', 'Convertible Bus Night Tour', 'Washington Lunch Cruise', 'Washington Dinner Cruise', 'Bike ride in Washington', 'Washington DC Whiskey Tasting Pass', 'Bike rental in Washington DC', 'Washington Night Bike Tour', 'Washington Tourist Trolley', 'Billet pour Madame Tussauds', 'eSIM card with Internet in the United States', 'Chicago Architecture Tour', 'Chicago Sightseeing Bus', 'Private Chicago Tour', 'Chicago CityPASS', 'Go City : Chicago Explorer Pass', 'Lincoln Park Ghost Tour', 'Open Top Bus Night Tour', 'Go Chicago All-Inclusive Pass', 'Chicago Donut Tour', 'Chicago Dinner Cruise', 'Millenium Park and Lake Michigan Bike Ride', 'Chicago Food Tour', 'Scenic Chicago Ghost Tour', 'Guided tour of the Chicago Theater', '360 Chicago Observation Deck Ticket', 'Chicago Scenic Tour', 'Universal Studios Hollywood Tickets', 'Guided tour through Hollywood Boulevard', 'Venice Beach Tour', 'Tour through historic downtown Los Angeles', 'eSIM card with Internet in the United States', 'Venice Beach Surf Lessons', '2-Day Las Vegas and Hoover Dam Tour', 'Los Angeles Sightseeing Bus', '-1', 'Go City : Los Angeles All-Inclusive Pass', 'Ticket to the USS Iowa Museum', 'Guided bike tour in Santa Monica and Venice Beach', 'Go City Los Angeles Explorer Pass', '5-Day Las Vegas and Arizona Desert Tour', 'Los Angeles Food Tour', 'Kayaking with sea lions in Marina del Rey', 'Hike to the Hollywood Sign', 'Paddle surfing with sea lions in Marina del Rey', 'Excursion à Malibu and from Volkswagen + Surf', 'Miami Tourist Bus', 'Boat trip through the Villas of the Stars', 'Motorboat ride in Miami', 'Everglades Tour', 'eSIM card with Internet in the United States', 'Offer: Contrasts of Miami + Everglades + Boat trip']

In [31]:
df.to_csv(r'treated_us_activities.csv', index=False)