# <u> Analyse et nettoyage de la database

In [167]:
import pandas as pd

df = pd.read_csv("us_activities.csv", on_bad_lines='skip')
#skip : 2 lignes ont une liste de langues séparé avec des "," 
#-> pandas interprete ca comme une nouvelle colonne

df

,Title,Nb rating,Prices,Nb visits,Rating,Annulation,Duration,Language,City,lat,lon,image
0,Vol en hélicoptère au-dessus de New York,902,"183,30 €",13 026 voyageurs,"9,10 / 10",Gratuit ! Annulez sans frais jusqu'à 24 heures...,15 min - 20 min,Anglais,new-york,40.700990,-74.008783,https://cdn2.civitatis.com/estados-unidos/nuev...
1,Billet pour le Mémorial et le Musée du 11 Sept...,233,"28,30 €",5 054 voyageurs,"9,10 / 10",Gratuit ! Annulez sans frais jusqu'à 24 heures...,-1,-1,new-york,40.711737,-74.013301,https://cdn2.civitatis.com/estados-unidos/nuev...
2,Billet pour l'Empire State,1 692,"45,20 €",29 125 voyageurs,"9,10 / 10",Non remboursable. Cette activité n'admet aucun...,-1,-1,new-york,40.748784,-73.986158,https://cdn2.civitatis.com/estados-unidos/nuev...
3,Go City : New York Explorer Pass,1 007,"65,20 €",30 575 voyageurs,"9,10 / 10",Gratuit ! Annulez sans frais jusqu'à 24 heures...,-1,-1,new-york,40.712955,-74.001362,https://cdn2.civitatis.com/estados-unidos/nuev...
4,Billet coupe-file pour le One World,977,"44,20 €",14 313 voyageurs,"9,30 / 10",Non remboursable. Cette activité n'admet aucun...,-1,-1,new-york,40.712955,-74.013814,https://cdn2.civitatis.com/estados-unidos/nuev...
...,...,...,...,...,...,...,...,...,...,...,...,...
259,Balade en bateau à travers les Villas des Stars,367,"78,40 €",7 voyageurs,"8,50 / 10",Non remboursable. Cette activité n'admet pas d...,1h30,Anglais,miami,25.777913,-80.186247,https://cdn2.civitatis.com/estados-unidos/miam...
260,Balade en bateau à moteur à Miami,41,"902,40 €",5 voyageurs,"8,50 / 10",Gratuit ! Annulez sans frais jusqu'à 8 heures ...,45 minutes,Anglais,miami,25.777767,-80.185607,https://cdn2.civitatis.com/estados-unidos/miam...
261,Excursion aux Everglades,325,"83,10 €",334 voyageurs,"7,90 / 10",Gratuit ! Annulez sans frais jusqu'à 24 heures...,4 heures,Anglais et espagnol,miami,25.761676,-80.194099,https://cdn2.civitatis.com/estados-unidos/miam...
262,Carte eSIM avec Internet aux États-Unis,16,"65,20 €",16 voyageurs,"6,40 / 10",Non remboursable. Cette activité n'admet aucun...,10 jours - 30 jours,-1,miami,25.761676,-80.194099,https://cdn2.civitatis.com/estados-unidos/nuev...
263,Offre : Contrastes de Miami + Everglades + Bal...,98,"51,90 €",22 voyageurs,"9,40 / 10",Gratuit ! Annulez sans frais jusqu'à 24 heures...,8 heures,Anglais et espagnol,miami,25.761676,-80.194099,https://cdn2.civitatis.com/estados-unidos/miam...

In [168]:
print('Type de la colonne prix : ', df['Prices'].dtype)
print('Type de la colonne du nombre de notation : ', df['Nb rating'].dtype)
print('Type de la colonne notation : ', df['Rating'].dtype)

Type de la colonne prix :  object
Type de la colonne du nombre de notation :  object
Type de la colonne notation :  object

-> On va convertir ces colonnes en float pour pouvoir les réutiliser dans l'application
-> On va également changer la colonne des langues et y mettre des listes des langues parlées avec des valeurs :
- Anglais = 1
- Francais = 2
- Espagnol = 3
- Pas d'infos = -1

A) Prix

In [169]:
df['Prices']

0      183,30 €
1       28,30 €
2       45,20 €
3       65,20 €
4       44,20 €
         ...
259     78,40 €
260    902,40 €
261     83,10 €
262     65,20 €
263     51,90 €
Name: Prices, Length: 264, dtype: object

In [170]:
df['Prices'] = df['Prices'].str.replace('€', '')
df['Prices'] = df['Prices'].str.replace(' ', '')

In [171]:
price_list = []
new_price = ''
for price in df.Prices:
    for i in price:
        if i.isnumeric() == True or i == ',':
            new_price += i
        else:
            new_price = '0'
    price_list.append(new_price)
    new_price = ''

In [172]:
df['Prices'] = price_list
df['Prices'] = df['Prices'].str.replace(',','.').astype(float)

In [173]:
df['Prices']

0      183.3
1       28.3
2       45.2
3       65.2
4       44.2
       ...
259     78.4
260    902.4
261     83.1
262     65.2
263     51.9
Name: Prices, Length: 264, dtype: float64

B) Nombre de notations

In [174]:
df['Nb rating']

0        902
1        233
2      1 692
3      1 007
4        977
       ...
259      367
260       41
261      325
262       16
263       98
Name: Nb rating, Length: 264, dtype: object

In [175]:
df['Nb rating'] = df['Nb rating'].str.replace(' ','').astype(float)
df['Nb rating']

0       902.0
1       233.0
2      1692.0
3      1007.0
4       977.0
        ...
259     367.0
260      41.0
261     325.0
262      16.0
263      98.0
Name: Nb rating, Length: 264, dtype: float64

C) Notations

In [176]:
df['Rating']

0      9,10 / 10
1      9,10 / 10
2      9,10 / 10
3      9,10 / 10
4      9,30 / 10
         ...
259    8,50 / 10
260    8,50 / 10
261    7,90 / 10
262    6,40 / 10
263    9,40 / 10
Name: Rating, Length: 264, dtype: object

In [177]:
rating_list = []
for rating in df.Rating:
    rating = rating.split('/', 1)
    rating_list.append(rating[0])

In [178]:
df['Rating'] = rating_list
df['Rating'] = df['Rating'].str.replace(',','.').astype(float)

In [179]:
df['Rating']

0      9.1
1      9.1
2      9.1
3      9.1
4      9.3
      ...
259    8.5
260    8.5
261    7.9
262    6.4
263    9.4
Name: Rating, Length: 264, dtype: float64

D) Langages

In [180]:
df['Language']

0                  Anglais
1                       -1
2                       -1
3                       -1
4                       -1
              ...
259                Anglais
260                Anglais
261    Anglais et espagnol
262                     -1
263    Anglais et espagnol
Name: Language, Length: 264, dtype: object

In [181]:
df['Language'] = df['Language'].str.replace(' et ',',')
df['Language']

0               Anglais
1                    -1
2                    -1
3                    -1
4                    -1
             ...
259             Anglais
260             Anglais
261    Anglais,espagnol
262                  -1
263    Anglais,espagnol
Name: Language, Length: 264, dtype: object

In [182]:
language_list = []
for language in df.Language:
    if language == '-1':
        language_list.append([int(language)])
    else:
        language = language.split(',')
        for i in range(len(language)):
            if language[i] == 'Anglais' or language[i] == 'anglais':
                language[i] = 1
            elif language[i] == 'Français' or language[i] == 'français':
                language[i] = 2
            elif language[i] == 'espagnol' or language[i] == 'Espagnol':
                language[i] = 3
            else:
                language[i] = -1
        language_list.append(language)

In [183]:
df['Language'] = language_list

In [184]:
df['Language']

0         [1]
1        [-1]
2        [-1]
3        [-1]
4        [-1]
        ...
259       [1]
260       [1]
261    [1, 3]
262      [-1]
263    [1, 3]
Name: Language, Length: 264, dtype: object

In [185]:
df.to_csv(r'treated_us_activities.csv', index=False)